@page "/despre"

<h3>Despre</h3>

<div>
    <p>
        Această pagină vă oferă posibilitatea de a efectua plăți în maximă siguranță.
        <br />
        Fie că doriți să fiți unul dintre partenerii acestui proiect, sau doriți să cumpărați indicii pentru a fi primul care rezolva cel mai rapid itemii evenimentului, dorim să atrageți atenție la această platformă.
        <br />
    </p>
    <table class="table content">
        <thead class="thead-dark">
            <tr>
                <td class="table-active"><strong>Tip de beneficiu </strong></td>
                <td class="table-primary"><strong>Serviciul prestat</strong></td>
                <td class="table-success"><strong>Pachet Regular</strong></td>
                <td class="table-danger"><strong>Pachet All+1</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-active"><strong>Promovare ONLINE</strong></td>
                <td class="table-primary">Pomovare online prin postări pe Social Media: </td>
                <td class="table-success"></td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary" style="text-align:right">- Facebook (~4900)</td>
                <td class="table-success">3 postări (partener)</td>
                <td class="table-danger">1 mențiune (sponsor)</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary" style="text-align:right">- Instagram (~850)</td>
                <td class="table-success">2 postări (partener)</td>
                <td class="table-danger">1 mențiune (sponsor)</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary" style="text-align:right">- LinkedIn (~150)</td>
                <td class="table-success">2 postări (partener)</td>
                <td class="table-danger">1 mențiune (sponsor)</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary" style="text-align:right"> Newsletter (~1000)</td>
                <td class="table-success">1 mențiune (partener)</td>
                <td class="table-danger">1 mențiune (sponsor)</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Plasarea logo-ul companiei pe pagina evenimentului de pe site-ul BEST Chișinău</td>
                <td class="table-success">partener </td>
                <td class="table-danger">sponsor</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Menționarea companiei în comunicate de presă și articole distribuite partenerilor media</td>
                <td class="table-success">partener </td>
                <td class="table-danger">sponsor</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Descrierea companiei pe pagina evenimentului Hackathon de pe site-ul BEST Chișinău (până 150 caractere)</td>
                <td class="table-success">partener </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Amplasarea logo-ul companiei în regulamentul evenimentului (trimis online fiecărui participant)</td>
                <td class="table-success">partener </td>
                <td class="table-danger">sponsor</td>
            </tr>
            <tr>
                <td class="bg-warning"></td>
                <td class="bg-warning"></td>
                <td class="bg-warning"></td>
                <td class="bg-warning"></td>
            </tr>
            <tr>
                <td class="table-active"><strong>Promovare OFFLINE</strong></td>
                <td class="table-primary">Amplasare logo-ului pe afișe </td>
                <td class="table-success">partener </td>
                <td class="table-danger">sponsor</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Popunerea unui criteriu de jurizare </td>
                <td class="table-success">partener </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Menționarea companiei la deschiderea/închiderea oficială a evenimentului</td>
                <td class="table-success">partener </td>
                <td class="table-danger">sponsor</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Accesul companiei la CV-urile participanților și al organizatorilor</td>
                <td class="table-success">partener </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Posibilitatea de a delega un reprezentant în juriu</td>
                <td class="table-success">partener </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Amplasare logo-ului pe diplome </td>
                <td class="table-success">partener </td>
                <td class="table-danger">sponsor</td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Posibilitatea de a delega un mentor din partea companiei</td>
                <td class="table-success">partener </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="bg-warning"></td>
                <td class="bg-warning">Total:</td>
                <td class="bg-warning">500 euro </td>
                <td class="bg-warning">300 euro</td>
            </tr>
            <tr>
                <td class="table-active"><strong>Servicii EXTRA</strong></td>
                <td class="table-primary">Apariția logo-ul al companiei la finalul video-ului de promovare a evenimentului</td>
                <td class="table-success">50 euro</td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Organizarea unei sesiuni de training la începutul evenimentului</td>
                <td class="table-success">100 euro </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="table-active"></td>
                <td class="table-primary">Propunerea unei probe bonus care va acoperi necesitățile companiei</td>
                <td class="table-success">150 euro </td>
                <td class="table-danger"></td>
            </tr>
            <tr>
                <td class="bg-danger"><strong>Partener EXCLUSIV</strong></td>
                <td class="bg-danger">Serviciile din Pachet Gold + Serviciul EXTRA</td>
                <td class="bg-danger">1000 euro</td>
                <td class="bg-danger"></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
</div>
@code {

}
