@page "/"

<h1>Salutare !</h1>


<AuthorizeView>
    <Authorized>
        Bun venit la Fast Pay
    </Authorized>

    <NotAuthorized>
        Pentru a avea acces la content, va rugam sa va logaţi
    </NotAuthorized>
</AuthorizeView>

